@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
  .container {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .animate {
    @apply duration-200 ease-in-out transition-all
  }
}

@layer base {

}
